.lt-body .category {
    padding: 10px;
}
.lt-body .category li {
    float: left;
    width: 33.33%;
}
.lt-body .category li a {
    width: 100%;
    display: block;
}
.lt-body .category li img {
    width: 100%;
    display: block;
}
.lt-body .product {
    padding: 10px;
}
.lt-body .product li {
    width: 48%;
    float: left;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.lt-body .product li:nth-child(2n+1) {
    margin-right: 4%;
}
.lt-body .product img {
    width: 150px;
    height: 150px;
}
.lt-body .product .price {
    margin-bottom: 10px;
}
.lt-body .product .nowPrice {
    color: red;
    font-size: 14px;
}
.lt-body .product .oldPrice {
    color: #8f8f94;
    font-size: 14px;
    text-decoration: line-through;
}