html,
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
a:link,
a:visited,
a:hover,
a:active{
  color: #fff;
  text-decoration: none;
}
ul {
  list-style: none;
}




.body_bgc {
  background-color: #222D32;
}
.panel-title {
  font-size: 18px;
  line-height: 50px;
  text-align: center;
}
.mtop_200 {
  margin-top: 200px;
}

.lt_aside {
  height: 100%;
  width: 180px;
  background-color: #222D32;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  transition: all .8s;
}
.lt_aside.hidenav {
  left: -180px;
}
.lt_title {
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #367FA9;
  font-size: 24px;
}
.lt_nav .surper {
  height: 180px;
  padding-top: 30px;
  text-align: center;
}
.lt_nav .surper img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.lt_nav .surper p {
  color: #fff;
  font-size: 18px;
  line-height: 50px;
}
.lt_nav .user_list a {
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 40px;
  border-left: 3px solid transparent;
}
.lt_nav .user_list i {
  margin-right: 5px;
}
.lt_nav .user_list .kind {
  display: none;
}
.lt_nav .user_list .kind a {
  display: block;
  padding-left: 60px;
  border-left: 3px solid transparent;
}
.lt_nav .user_list a.current,
.lt_nav .user_list .kind a.current {
  background-color: #1D1F21;
  border-left: 3px solid #006699;
}
.lt_main {
  padding-left: 180px;
  transition: all .8s;
}
.lt_main.hidenav {
  padding-left: 0px;
}
.lt_main .main_top {
  width: 100%;
  height: 50px;
  background-color: #3C8DBC;
  padding-left: 180px;
  position: fixed;
  left: 0;
  top: 0;
  transition: all .8s;
}
.lt_main .main_top.hidenav {
  padding-left: 0;
}
.lt_main .main_top i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
}
.lt_main .main_body {
  padding: 50px 15px 0;
}
.lt_main .main_body .breadcrumb {
  margin-top: 20px;
}
.lt_main .main_body .breadcrumb .system {
  color: #337ab7;
}
.lt_main .main_body .breadcrumb .system:hover {
  color: #23527c;
}
.lt_main .main_body .breadcrumb a,
.lt_main .main_body .breadcrumb a:hover{
  color: #777;
}
.lt_main .table1,
.lt_main .table2 {
  width: 48%;
  height: 400px;
}

.main_content table th,
.main_content table td {
  text-align: center;
  vertical-align: middle !important;
}
.main_body .main_content .table {
  margin-top: 20px;
}
